@font-face {
    font-family: 'Montserrat';
    src: url('/cablebox_sale_order_report/static/src/fonts/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Montserrat', sans-serif;
}

